.active {
  text-decoration: none;
  background-color: #fff8ef;
  border-radius: 2px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  padding-left: 0%;
  margin-right: 0%;
  margin-left: 0%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0%;
}

nav ul li {
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: medium;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 4px;
  letter-spacing: 0.2cqb;
  font-style: normal;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul li a:not(.active):hover {
  color: rgb(154, 154, 120);
  text-decoration: none;
}

.menu {
  display: none;
  color: #000000;
}

@media (max-width: 1100px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
  }

  nav .title {
    font-size: 2rem;
  }

  nav {
    flex-direction: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-left: 0%;
    border-radius: 5rem;
    margin-right: 0%;
    margin-left: 0%;
  }

  nav ul.open {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: 0%;
  }

  nav ul li {
    width: 90%;
    text-wrap: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

@media (max-width: 530px) {
  nav .title {
    font-size: 1.5rem;
  }

  .menu {
    display: flex;
    /* height: 1rem; */
  }

  nav {
    margin-right: 0%;
    margin-left: 0%;
  }
}
